Repository nginx/agent: changes, and which Codecov flags are due for each by the changed paths.
All: Internal Packages, Public Packages, Commands, API

.codecov.yml:

# Codecov configuration file
# This file configures code coverage reporting and requirements for the project
coverage:

  # Coverage status configuration
  status:

    # Project-level coverage settings
    project:

      # Default status check configuration
      default:

        # The minimum required coverage value for the project
        target: 80%

        # The allowed coverage decrease before failing the status check
        threshold: 0%

        # Code coverage check behaviour if the CI fails
        if_ci_failed: error

        # Whether to run coverage checks only on pull requests
        only_pulls: false

    # Patch-level coverage settings
    patch:

      default:

        target: 80%
        threshold: 0%
        if_ci_failed: error
        only_pulls: false

component_management:
    default_rules:
      statuses:
        - type: project
          target: 80%
        - type: patch
          target: 80%

    individual_components:
      - component_id: "internal"
        name: "Internal Packages"
        paths:
            - "internal/**"

      - component_id: "pkg"
        name: "Public Packages"
        paths:
          - "pkg/**"

      - component_id: "cmd"
        name: "Commands"
        paths:
          - "cmd/**"

      - component_id: "api"
        name: "API"
        paths:
          - "api/**"

comment:
  layout: "reach,diff,tree,reach"
  behavior: default
  require_changes: false
  require_base: false
  require_head: false

# Ignore files or packages matching their paths
ignore:
  - '\.pb\.go$'       # Excludes all protobuf generated files
  - '\.gen\.go'      # Excludes generated files
  - '^fake_.*\.go'    # Excludes fakes
  - '^test/.*$'
  - 'app.go'          # app.go and main.go should be tested by integration tests.
  - 'main.go'
  # ignore metadata generated files
  - 'metadata/generated_.*\.go'
  # ignore wrappers around gopsutil
  - 'internal/datasource/host'
  - 'internal/watcher/process'
  - 'pkg/nginxprocess'

change codecov comment layout
  .codecov.yml
Due: none

remove plus go client update
  go.mod
  go.sum
  internal/collector/nginxplusreceiver/record/cache_metrics.go
  internal/collector/nginxplusreceiver/record/http_metrics.go
  internal/collector/nginxplusreceiver/record/location_zone_metrics.go
  internal/collector/nginxplusreceiver/record/server_zone_metrics.go
  internal/collector/nginxplusreceiver/record/slab_metrics.go
  internal/collector/nginxplusreceiver/record/ssl_metrics.go
  internal/collector/nginxplusreceiver/record/stream_metrics.go
  internal/collector/nginxplusreceiver/record/upstream_metrics.go
  internal/collector/nginxplusreceiver/scraper.go
  internal/resource/resource_service.go
  internal/resource/resource_service_test.go
  test/helpers/nginx_plus.go
Due: Internal Packages

remove plus go client update
  api/grpc/mpi/v1/command.pb.go
  api/grpc/mpi/v1/common.pb.go
  api/grpc/mpi/v1/files.pb.go
  internal/resource/resourcefakes/fake_resource_service_interface.go
Due: Internal Packages, API

remove plus go client update
  go.mod
  go.sum
  internal/resource/resource_plugin_test.go
Due: Internal Packages

try different commmenting method
  .codecov.yml
Due: none

refactor codecov config file to make components more granular
  .codecov.yml
Due: none

fix typo in codecov config
  .codecov.yml
Due: none

remove status check on each component
  .codecov.yml
Due: none

add temp hidden agent dir
  api/grpc/mpi/v1/command.pb.go
  api/grpc/mpi/v1/common.pb.go
  api/grpc/mpi/v1/files.pb.go
  internal/file/file_manager_service.go
  internal/file/file_manager_service_test.go
Due: Internal Packages, API

change component status check to informational
  .codecov.yml
Due: none

try to use default comment settings
  .codecov.yml
Due: none

sorting while creating context
  api/grpc/mpi/v1/command.pb.go
  api/grpc/mpi/v1/command.pb.validate.go
  api/grpc/mpi/v1/command.proto
  docs/proto/protos.md
  internal/datasource/config/configfakes/fake_config_parser.go
  internal/datasource/config/nginx_config_parser.go
  internal/datasource/proto/instance.go
  internal/datasource/proto/instance_test.go
  internal/model/config.go
  internal/resource/resource_service.go
  internal/resource/resource_service_test.go
Due: Internal Packages, API

use working codecov conf for testing
  .codecov.yml
Due: none

change target to 80%
  .codecov.yml
Due: none

fix go version
  go.mod
Due: none

reduced Lint cognitive complexity
  internal/datasource/config/nginx_config_parser.go
Due: Internal Packages

use codecov for check code coverage
  .codecov.yml
  .github/workflows/ci.yml
  .testcoverage.yaml
  Makefile
  api/grpc/mpi/v1/command.pb.go
  api/grpc/mpi/v1/common.pb.go
  api/grpc/mpi/v1/files.pb.go
Due: API

worked on PR comments
  internal/datasource/config/nginx_config_parser.go
  internal/datasource/config/nginx_config_parser_test.go
Due: Internal Packages

fixed lint error
  internal/datasource/config/nginx_config_parser.go
Due: Internal Packages

add temp hidden agent dir (#1318)
  api/grpc/mpi/v1/command.pb.go
  api/grpc/mpi/v1/common.pb.go
  api/grpc/mpi/v1/files.pb.go
  internal/file/file_manager_service.go
  internal/file/file_manager_service_test.go
Due: Internal Packages, API

Update nginx-plus-go-client to v3.0.1
  go.mod
  go.sum
  internal/collector/nginxplusreceiver/record/cache_metrics.go
  internal/collector/nginxplusreceiver/record/http_metrics.go
  internal/collector/nginxplusreceiver/record/location_zone_metrics.go
  internal/collector/nginxplusreceiver/record/server_zone_metrics.go
  internal/collector/nginxplusreceiver/record/slab_metrics.go
  internal/collector/nginxplusreceiver/record/ssl_metrics.go
  internal/collector/nginxplusreceiver/record/stream_metrics.go
  internal/collector/nginxplusreceiver/record/upstream_metrics.go
  internal/collector/nginxplusreceiver/scraper.go
  internal/resource/resource_plugin_test.go
  internal/resource/resource_service.go
  internal/resource/resource_service_test.go
  internal/resource/resourcefakes/fake_resource_service_interface.go
  test/helpers/nginx_plus.go
Due: Internal Packages

Update nginx-plus-go-client to v3.0.1 (#1327)
  go.mod
  go.sum
  internal/collector/nginxplusreceiver/record/cache_metrics.go
  internal/collector/nginxplusreceiver/record/http_metrics.go
  internal/collector/nginxplusreceiver/record/location_zone_metrics.go
  internal/collector/nginxplusreceiver/record/server_zone_metrics.go
  internal/collector/nginxplusreceiver/record/slab_metrics.go
  internal/collector/nginxplusreceiver/record/ssl_metrics.go
  internal/collector/nginxplusreceiver/record/stream_metrics.go
  internal/collector/nginxplusreceiver/record/upstream_metrics.go
  internal/collector/nginxplusreceiver/scraper.go
  internal/resource/resource_plugin_test.go
  internal/resource/resource_service.go
  internal/resource/resource_service_test.go
  internal/resource/resourcefakes/fake_resource_service_interface.go
  test/helpers/nginx_plus.go
Due: Internal Packages

undo gin update
  go.mod
  go.sum
Due: none

Update Dependencies (#1312)
  go.mod
  go.sum
Due: none

remove docker build for FreeBSD packager
  .github/workflows/release-branch.yml
  scripts/packages/packager/Dockerfile
  scripts/packages/packager/local-entrypoint.sh
  scripts/packages/packager/signed-entrypoint.sh
Due: none

perform string sub on architecture var
  .nfpm.yaml
Due: none
